body {
  font-family: sans-serif;
  font-size: 2em;
}

.container {
  margin-top: 15vh;
}

.title {
  margin-bottom: 1vh;
}

label {
  display: block;
  text-align: center;
  margin-bottom: 2vh;
}

#textbox {
  display: block;
  width: 50vw;
  height: 4vh;
  margin-top: 5vh;
  margin-right: auto;
  margin-left: auto; 
  font-size: 0.6em;
}

#copy {
  display: inline-block;
  margin-left: 50%; transform: translateX(-50%);
  font-size: 0.5em;
  padding: .5em 2em;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 2vh;
}

#copy:hover {
  background: black;
  color: white;
}

#copied {
  font-size: 0.5em;
  text-align: center;
  margin-top: 0;
  transition: all 0.5s ease-out;
}

.copied-off {
  opacity: 0%;
}

.copied-on {
  opacity: 100%;
}

#result {
  width: 50vw;
  margin-left: 50%; transform: translateX(-50%);
  word-wrap: break-word;
}

.credits {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%; transform: translateX(-50%);
  font-size: .6em;
  width: 100%;
}

.title, label, #textbox, #result {
    text-align: center;
}

@media (max-width: 1000px) {
  #textbox {
    width: 70vw;
  }

  #result {
    width: 90vw;
  }
}
